    * {
        margin: 0;
        padding: 0;
        text-align: center;
    }


a:hover {
    color: red;
    font-weight: bold;
}

header {
    background-color: pink;
}

main {
    
    background-color: green;
}


main ~ footer  {
    background-color: red;
    
}
